    h1{color: blue; /* todos los h1 cambian de color */}
    
    img{ width:400px;} /* cambia el ancho */

    #thirDiv{/* como es un id se accede con # */
        width:600px ;/* ancho */
        height: 500; /* alto */
        background-color: green;/* fondo */
        padding: 50px; /* espacio border-contenido */
        border: 10px solid gold; /* 1° ancho, 2° estilo, 3°color */
    
    }
    #spanId{
        font-size: 18px; /* tamaño de fuente */
        margin: 50px; /* espacio que separa elemento de otros elementos */
    
    }
    
   